<h2>{{title}}</h2>


{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each people as |person|}}
      {{#paper-item class="md-3-line"}}
        <img src='http://placehold.it/150/E8117F' alt={{person.nombre}} class="md-avatar">
        <div class="md-list-item-text">
          <h3>{{person.nombre}}</h3>
          <h4>{{person.poblacion}}</h4>
          <p>
            {{person.notas}}
          </p>
        </div>
      {{/paper-item}}
      {{paper-divider inset=true}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}