{{! without contextual components }}
    {{#paper-toolbar}}
    
        {{#paper-toolbar-tools}}
    
            {{#paper-sidenav-toggle  name="left" class="hide-gt-md" as |toggleAction|}}
                {{#paper-button  onClick=(action toggleAction) }}
                    {{paper-icon "menu"}}
                {{/paper-button}}
            {{/paper-sidenav-toggle}}
            <h2>
                Toolbar with Icon Buttons
            </h2>
            
            <span class="flex"></span>
            {{#paper-button iconButton=true}}
                {{paper-icon "favorite"}}
            {{/paper-button}}
            {{#paper-button iconButton=true}}
                {{paper-icon "more_vert"}}
            {{/paper-button}}
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}

      {{#paper-sidenav 
        class="md-whiteframe-z2"
        name="left" 
        open=leftSideBarOpen
        onToggle=(action (mut leftSideBarOpen))
        closeOnClick="true"
        lockedOpen=false
      }}
        {{#paper-toolbar as |toolbar|}}
          {{#paper-toolbar-tools}}Left Sidenav{{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content padding=true}}
          Çup?
        {{/paper-content}}
      {{/paper-sidenav}}

      {{#paper-card-content class="flex"}}
    
        <div class="layout-flex layout-margin layout-align-space-around-center" >
              {{outlet}}
          <p>
            The left sidenav will "lock open" on a medium (>=960px wide) device.
          </p>
          <p>
            Left sidenav is {{if leftSideBarOpen "opened" "closed"}}
          </p>

          {{#paper-sidenav-toggle name="left" class="hide-gt-sm" as |toggleAction|}}
            {{#paper-button raised=true onClick=(action toggleAction)}}
              Toggle
            {{/paper-button}}
          {{/paper-sidenav-toggle}}

        </div>
      {{/paper-card-content}}
    {{/paper-sidenav-container}}



